  /* Alinha as informações e define o fundo */
  .header{
    background-color: #AD3333;
    max-height: 27vh;
    height: 27vh;
    display: flex;
    justify-content: center;
  }
  

  .img_header{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
  }

  .logoHome{
    height: 20vh;
  }

.legendaHeader{
  color: white;
  font-size: 3vh;
}