html {
    background-color: #FFE4E1;
}

.detalhesAluno {
    background-color: #FFE4E1;
}


.infoAluno {
    display: flex;
    justify-content: space-around;
}

.anotacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputAnotacao {
    width: 77vw;
    height: 15vh;
    border-radius: 30px;
}

.inputOcorrencia {
    display: flex;
    flex-direction: column;
}

.outros {
    display: flex;
}

.teste2 {
    margin-right: 105px;
}

.infoApi {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: flex-end;
}

.inputAlunos {
    border-radius: 30px;
    width: 20vw;
    height: 3vh;
    margin-bottom: 3vh;
}

.inputOutros {
    border-radius: 30px;
    width: 15vw;
}

.linha3 {
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
}

.quebraLinha {
    display: flex;
}

.fotoAluno {
    width: 27vh;
    border-radius: 20px;
}

.tituloAlunos {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: #291502;
    margin-bottom: 10px;
    margin-top: 1vh;
}

.tituloOcorrencia {
    display: flex;
    font-size: x-large;
    margin-bottom: 10px;
    justify-content: center;
}

.inputOcorrencia {
    font-size: 17px;

}

.margin {
    margin-bottom: 12px;
}

#horario {
    border-radius: 30px;
    width: 10vw;
    height: 3vh;
    margin-bottom: 4%;
}

.horario {
    font-size: larger;
}

.professor {
    font-size: larger;
    display: flex;
    border-radius: 30px;
    width: 10vw;
    height: 3vh;
    flex-direction: row;
    margin-bottom: 30px;
}

.buttonOcorrencia {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid black;
    /* Substitua $green pela cor desejada */
    color: black;
    /* Substitua $green pela cor desejada */
    letter-spacing: 1px;
    text-shadow: none;
    /* Não é necessário definir como 0, pode ser simplesmente 'none' */
    font-size: 12px;
    /* Corrigido para definir o tamanho da fonte */
    font-weight: bold;
    /* Corrigido para definir o peso da fonte */
    cursor: pointer;
    transition: all 0.25s ease;
    margin-bottom: 2vw;
}

.buttonAnotacao:hover {
    color: white;
    background: #058d05;
    /* Substitua $green pela cor desejada */
}

.buttonAnotacao {
    outline: none;
    height: 40px;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid black;
    /* Substitua $green pela cor desejada */
    color: black;
    /* Substitua $green pela cor desejada */
    letter-spacing: 1px;
    text-shadow: none;
    /* Não é necessário definir como 0, pode ser simplesmente 'none' */
    font-size: 12px;
    /* Corrigido para definir o tamanho da fonte */
    font-weight: bold;
    /* Corrigido para definir o peso da fonte */
    cursor: pointer;
    transition: all 0.25s ease;
    margin-top: 1.2vw;
}

.buttonOcorrencia:hover {
    color: white;
    background: #058d05;
    /* Substitua $green pela cor desejada */
}

.buttonOcorrencia:active {
    letter-spacing: 2px;
}

.radio {
    margin-right: 7px;
}

.NavbarDetalhesAlunos {
    display: flex;
}

.navbarAlunos {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
}

.navbar {
    height: 70vh;
}

.sidebar {
    height: 70vh;
}


/* Caso queira tirar o card adicionar apagar ou comentar tudo apartir dessa linha */


.CardMaisAlunos {
    display: flex;
    background-color: #FFE4E1;

}

.maisAlunos {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 86%;
    height: 77%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;

    margin: 0 0;
    padding: 0 0;
}


.buttonMaisAlunos:hover {
    color: white;
    background-color: #AD3333;
    /* Substitua $green pela cor desejada */
}


.buttonSair {
    border: none;
    width: 3vw;
    height: 5vh;
    cursor: pointer;
    background-color: #AD3333;
    /* Substitua $green pela cor desejada */

}

.HeaderMaisAlunos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    background-color: #AD3333;
    color: white;
    height: 15vh;
}

.HeaderMaisAlunos h2 {
    text-align: center;
    font-family: "Roboto";
    font-size: 2.5vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}

.buttonSair {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.3vw;
    margin-right: 0.3vw;
}

strong{
    font-size: 1.1vw;
}

.conteudoMaisAlunos {
    display: flex;
    height: 62vh;
    width: 86vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFE4E1;
}

.maisDetalhes {
    display: flex;
    flex-wrap: nowrap;
    width: 80vw;
    justify-content: space-around;
}

.primeiraDiv {
    display: flex;
    margin-left: 1vw;
    margin-right: 0.5vw;
    flex-direction: column;
    justify-content: center;
}

.labelQuebra {
    display: flex;
    flex-direction: column;
}


.ultimaDiv {
    margin-right: 1vw;
}

.cardprimeiro {
    display: flex;
}

.buttonMaisAlunos {
    outline: none;
    height: 5vh;
    width: 20vw;
    border-radius: 40px;
    background: #fff;
    border: 2px solid black;
    /* Substitua $green pela cor desejada */
    color: black;
    /* Substitua $green pela cor desejada */
    letter-spacing: 1px;
    text-shadow: none;
    /* Não é necessário definir como 0, pode ser simplesmente 'none' */
    font-size: 12px;
    /* Corrigido para definir o tamanho da fonte */
    font-weight: bold;
    /* Corrigido para definir o peso da fonte */
    cursor: pointer;
    transition: all 0.25s ease;
    margin-top: 1.2vw;

}